{% extends 'base.html' %}

{% block title %}Delete Form{% endblock %}

{% block content %}

<h5 class="display-5"><strong>Are you sure you want to delete your profile? This action is irreversible.</strong></h5>

<form method="POST" class="mt-4">

    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-danger" type="submit">Delete Profile</button>
    <button class="btn btn-primary mr-2" formaction="{{ url_for('show_user', user_id=user_id)}}">Cancel</button>
</form>

{% endblock %}