{% extends 'base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2 class="display-4">User Information</h2>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="{{user.image_url}}" alt="{{user.username}}'s profile picture"
                class="img-fluid rounded-circle profile-image">
        </div>

        <div class="col-md-9">
            <p><strong>Name:</strong> {{user.first_name}} {{user.last_name}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>Username:</strong> {{user.username}}</p>
        </div>

    </div>

    <form method="POST">
        <button class="btn btn-primary mt-4 mr-2" formaction="{{ url_for('edit_profile', user=user.id)}}">Edit
            Info</button>
        <button class="btn btn-danger mt-4" formaction="{{ url_for('delete_user')}}">Delete User</button>
    </form>
</div>


{% endblock %}